/*
 * OpenLayers
 */

body {
	font-family: arial, sans-serif;
	font-size: 12px;
}
.painelNorte {
	text-align: center;
	background-color: #000000;
}
#atalhoPlanos, #atalhoFreguesias {
	text-align: center;
}
#botoesEdicao.olControlEditingToolbar {
	float: left;
	width: 200px;
	height: 36px;
}
.xnd-icon {
	width: auto !important;
	height: auto !important;
}
.olControlAttribution {
	color: #008000;
}
div#mapa.x-panel .olControlLayerSwitcher .layersDiv {
	background-color: green;
}
/*
 * Cabeçalho das aplicações de Águeda
 */
#norte {
	margin-top: 0px;
	width: 100%;
	height: 100px;
	/* background-image: url(images/plpa_agueda_topoblogue_x100.jpg); */
	/* background-image: url(images/fundo2.png); */
}
/*
 .logoesq {
 width: 100%;
 height: 100px;
 float: left;
 }
 */

.logodireito {
	width: 475px;
	height: 100px;
	float: right;
	background-image: url(images/plpa_agueda_topoblogue_x100.jpg);
	/* margin-top: -100px */
}

.conteudos {
	height: 100%;
	width: 100%;
	background-color: blue;
	margin: 10px auto;
}

.conteudo_header {
	/* color:white; */
	position: absolute;
	margin-left: 50px;
	width: 600px;
	/* margin-right:15%; */
	margin-top: 10px;
	max-height: 100px;
	color: #268cce;
	font-family: arial, sans-serif;
	/* font-size:11px; */
	font-weight: bold;
	font-size: 16px;
}
.logo {
	float: left;
	width: 100px;
	height: 80px;
	background-image: url(images/mdt_87x80.png);
	background-repeat: no-repeat;
}

.ocorrencia {
	background-color: #edeff4;
	margin: 8px;
}

.avatar-impar {
	float: left;
	width: 60px;
}

.participacao-impar {
	margin-left: 60px;
}

.avatar-par {
	float: right;
	width: 60px;
}

.participacao-par {
	margin-right: 60px;
}
/*
.comentario {
	background-color: #edeff4;
	margin-top: 1px;
	padding: 4px;
	word-wrap: break-word;
}
*/
.quando {
	color: #060606;
	font-size: x-small;
}
.quem {
	color: #060606;
	font-size: x-small;
}

#all-demos {

}
#all-demos dd {
	cursor: pointer;
	float: left;
	height: 100px;
	margin: 5px 5px 5px 10px;
	width: 300px;
	zoom: 1;
}
#all-demos dd img {
	border: 1px solid #ddd;
	float: left;
	height: 90px;
	margin: 5px 0 0 5px;
	width: 120px;
}

#all-demos dd div {
	float: left;
	margin-left: 10px;
	width: 160px;
}

#all-demos dd h4 {
	color: #555;
	font-size: 11px;
	font-weight: bold;
}
#all-demos dd p {
	color: #777;
}
#all-demos dd.over {
	background: #F5FDE3 url(shared/extjs/images/sample-over.gif) no-repeat;
}
#loading-mask {
	background-color: white;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 20000;
}
#loading {
	height: auto;
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
}
#loading a {
	color: #225588;
}
#loading .loading-indicator {
	background: white;
	color: #444;
	font: bold 13px Helvetica, Arial, sans-serif;
	height: auto;
	margin: 0;
	padding: 10px;
}
#loading-msg {
	font-size: 10px;
	font-weight: normal;
}

#all-demos .x-panel-body {
	background-color: #fff;
	border: 1px solid;
	border-color: #fafafa #fafafa #fafafa #fafafa;
}
#sample-ct {
	border: 1px solid;
	border-color: #dadada #ebebeb #ebebeb #dadada;
	padding: 2px;
}

#all-demos h2 {
	border-bottom: 2px solid #99bbe8;
	cursor: pointer;
	padding-top: 6px;PLPA - Plano local de promoção da acessibilidade
}
#all-demos h2 div {
	background: transparent url(../resources/images/default/grid/group-expand-sprite.gif) no-repeat 3px -47px;
	color: #3764a0;
	font: bold 11px Helvetica, Arial, sans-serif;
	padding: 4px 4px 4px 17px;
}
#all-demos .collapsed h2 div {
	background-position: 3px 3px;
}
#all-demos .collapsed dl {
	display: none;
}
.x-window {
	text-align: left;
}
#all-demos dd h4 span.new-sample {
	color: red;
}

#all-demos dd h4 span.updated-sample {
	color: blue;
}

